.w-profile-page,
.w-profile-page * {
  box-sizing: border-box;
}
.w-profile-page {
  background: #ffffff;
  height: 1200px;
  position: relative;
  overflow: hidden;
}
.frame-324 {
  background: #ffffff;
  width: 1500px;
  height: 829px;
  position: absolute;
  left: 0px;
  top: 198px;
  overflow-y: auto;
}
.ellipse-6 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 100px;
  object-fit: cover;
}
.rectangle-444 {
  background: #ffffff;
  width: 1450px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.user {
  border-radius: 50px;
  border-style: solid;
  border-color: #4b6c9a;
  border-width: 1px;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 69px;
  top: 20px;
  object-fit: cover;
}
.w-text-holder {
  width: 250px;
  height: 40px;
  position: absolute;
  left: 620px;
  top: 272px;
}
.rectangle-448 {
  border-style: solid;
  border-color: #4b6c9a;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.w-text-holder2 {
  width: 250px;
  height: 40px;
  position: absolute;
  left: 207px;
  top: 362px;
}
.w-text-holder3 {
  width: 250px;
  height: 40px;
  position: absolute;
  left: 620px;
  top: 362px;
}
.phone-number {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 207px;
  top: 340px;
}
.blood-group {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 620px;
  top: 432px;
}
.email-address {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 620px;
  top: 340px;
}
.gender {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1033px;
  top: 340px;
}
.w-text-holder4 {
  width: 250px;
  height: 40px;
  position: absolute;
  left: 620px;
  top: 454px;
}
.w-text-holder5 {
  width: 250px;
  height: 40px;
  position: absolute;
  left: 207px;
  top: 454px;
}
.w-text-holder6 {
  width: 250px;
  height: 40px;
  position: absolute;
  left: 207px;
  top: 595px;
}
.address {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 207px;
  top: 573px;
}
.name {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 620px;
  top: 250px;
}
.date-of-birth {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 207px;
  top: 432px;
}
.edit {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 443px;
  top: 342px;
  object-fit: cover;
}
.add {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 862px;
  top: 342px;
  object-fit: cover;
}
.add-photo {
  color: #4b6c9a;
  text-align: center;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 8px;
  font-weight: 300;
  position: absolute;
  left: 797px;
  top: 233px;
}
.w-drop-down {
  width: 250px;
  height: 40px;
  position: absolute;
  left: 1033px;
  top: 362px;
}
.rectangle-449 {
  border-style: solid;
  border-color: #4b6c9a;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.expand-arrow {
  width: 8.4%;
  height: 52.5%;
  position: absolute;
  right: 2.8%;
  left: 88.8%;
  bottom: 22.5%;
  top: 25%;
  object-fit: cover;
}
.w-profile-menu-bar {
  background: #ffffff;
  width: 95px;
  height: 846px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.wm-home-delivery-medicines {
  width: 325px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 206px;
}
.rectangle-286 {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.home-delivery-medicines {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 14.46%;
  left: 24.62%;
  width: 60.92%;
  bottom: 28%;
  top: 28%;
  height: 44%;
}
.delivery {
  width: 15.38%;
  height: 100%;
  position: absolute;
  right: 81.54%;
  left: 3.08%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.wm-sos {
  width: 325px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 131px;
}
.rectangle-287 {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.sos {
  width: 15.38%;
  height: 100%;
  position: absolute;
  right: 81.54%;
  left: 3.08%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.sos2 {
  color: #810002;
  text-align: center;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 57.85%;
  left: 24.62%;
  width: 17.54%;
  bottom: 18%;
  top: 16%;
  height: 66%;
}
.wm-regular-insurance {
  width: 325px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 431px;
}
.rectangle-288 {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.medical-insurance {
  width: 15.38%;
  height: 100%;
  position: absolute;
  right: 81.54%;
  left: 3.08%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.regular-insurance {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 31.69%;
  left: 24.62%;
  width: 43.69%;
  bottom: 28%;
  top: 28%;
  height: 44%;
}
.wm-profile {
  width: 325px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 629px;
}
.rectangle-294 {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.user2 {
  width: 15.38%;
  height: 100%;
  position: absolute;
  right: 81.54%;
  left: 3.08%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.profile {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 57.54%;
  left: 24.62%;
  width: 17.85%;
  bottom: 28%;
  top: 28%;
  height: 44%;
}
.wm-medical-records {
  width: 325px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 356px;
}
.rectangle-292 {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.treatment {
  width: 15.38%;
  height: 100%;
  position: absolute;
  right: 81.54%;
  left: 3.08%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.medical-records {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 35.38%;
  left: 24.62%;
  width: 40%;
  bottom: 28%;
  top: 28%;
  height: 44%;
}
.wm-micro-insurance {
  width: 325px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 281px;
}
.rectangle-289 {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.medical-insurance2 {
  width: 15.38%;
  height: 100%;
  position: absolute;
  right: 81.54%;
  left: 3.08%;
  bottom: 2%;
  top: -2%;
  object-fit: cover;
}
.micro-insurance {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 36.31%;
  left: 24.62%;
  width: 39.08%;
  bottom: 28%;
  top: 28%;
  height: 44%;
}
.wm-help-center {
  width: 325px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 704px;
}
.rectangle-293 {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.help {
  width: 15.38%;
  height: 100%;
  position: absolute;
  right: 81.54%;
  left: 3.08%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.help-center {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 44.62%;
  left: 24.62%;
  width: 30.77%;
  bottom: 28%;
  top: 28%;
  height: 44%;
}
.wm-settings {
  width: 325px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 779px;
}
.rectangle-295 {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.settings {
  width: 15.38%;
  height: 100%;
  position: absolute;
  right: 81.54%;
  left: 3.08%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.settings2 {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  right: 55.08%;
  left: 24.62%;
  width: 20.31%;
  bottom: 28%;
  top: 28%;
  height: 44%;
}
.ellipse-62 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 25px;
  top: 19px;
  object-fit: cover;
}
.hi-name {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 102px;
  top: 43px;
}
.city {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 207px;
  top: 659px;
}
.w-text-holder7 {
  width: 250px;
  height: 40px;
  position: absolute;
  left: 207px;
  top: 681px;
}
.w-text-holder8 {
  width: 250px;
  height: 40px;
  position: absolute;
  left: 207px;
  top: 766px;
}
.state {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 207px;
  top: 744px;
}
.country {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 207px;
  top: 829px;
}
.w-text-holder9 {
  width: 250px;
  height: 40px;
  position: absolute;
  left: 207px;
  top: 851px;
}
.w-text-holder10 {
  width: 250px;
  height: 40px;
  position: absolute;
  left: 207px;
  top: 936px;
}
.pin-code {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 207px;
  top: 914px;
}
.group-95 {
  position: absolute;
  inset: 0;
}
.rectangle-260 {
  width: 1500px;
  height: 205px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: -205px;
  overflow: visible;
}
.vdr-2-removebg-preview-removebg-preview-360-1 {
  width: 119.84px;
  height: 110.33px;
  position: absolute;
  left: calc(50% - 131.82px);
  bottom: 28.67px;
  object-fit: cover;
}
.copy-rights-2024 {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 179px);
  bottom: 10px;
  width: 215px;
}
.group-97 {
  position: absolute;
  inset: 0;
}
.rectangle-2862 {
  width: 1500px;
  height: 244px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  overflow: visible;
}
.group-96 {
  width: 1162.82px;
  height: 110.33px;
  position: static;
}
.vdr-2-removebg-preview-removebg-preview-360-2 {
  width: 119.84px;
  height: 110.33px;
  position: absolute;
  left: 21.18px;
  top: 29px;
  object-fit: cover;
}
.find-a-doctor {
  width: 107px;
  height: 22px;
  position: absolute;
  left: 249px;
  top: 76px;
}
.find-a-doctor2 {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.verify-a-doctor {
  width: 120px;
  height: 22px;
  position: absolute;
  left: 396px;
  top: 76px;
}
.verify-a-doctor2 {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.sos3 {
  width: 31px;
  height: 22px;
  position: absolute;
  left: 556px;
  top: 76px;
}
.sos4 {
  color: #810002;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.home-delivery-medicines2 {
  width: 203px;
  height: 22px;
  position: absolute;
  left: 627px;
  top: 76px;
}
.home-delivery-medicines3 {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.micro-insurance2 {
  width: 129px;
  height: 22px;
  position: absolute;
  left: 870px;
  top: 76px;
}
.micro-insurance3 {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.regular-insurance2 {
  width: 145px;
  height: 22px;
  position: absolute;
  left: 1039px;
  top: 76px;
}
.regular-insurance3 {
  color: #000000;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
